* {
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 150px;
  overflow: hidden;
}
#slide {
  transform: translate3d(0%, 0px, 0px);
  transition-property: transform;
  transition-duration: 0.5s;
  position: relative;
  display: flex;
}
#slide > img {
  width: 100%;
}
button {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: none;
}
#buttons {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 30px;
}
button {
  margin: 0 3px;
}
button:active {
  border: none;
  border-radius: 100%;
}
#selected {
  background-color: #a48fe0;
}
